.fl{
    float: left;
}
.fr{
    float: right;
}
/*public */
.content{
    width: 1228px;
    margin: 0 auto;
}
.content.adv img{
    margin: 28px 0 45px;
    width: 1228px;
    height: 120px;
}
/*public end*/
/* header */
#header{
    height: 140px;
}
#header .nav-header{
    height: 40px;
    background-color: #333;
}

#header .nav-header .list-side-nav{
    width: 680px;
    height: 40px;
    /* background-color: #ccc; */
    transform: translateX(-10px); 
}
#header .nav-header .list-side-nav li{
    position: relative;
    float: left;
    font-size: 12px;
    line-height: 40px;
    padding: 0 10px;
    color: #b0b0b0;
    cursor: pointer;
}
#header .nav-header .list-side-nav li:hover{
    color: #fff;
}
#header .nav-header .list-side-nav li+li:after{
    content: "";
    position: absolute;
    left: 0px;
    top: 15px;
    width: 1px;
    height: 12px;
    background-color: #fff;
}

#header .nav-header .app-qr-code .more{
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
    width: 125px;
    height: 150px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 4px #000;
}
#header .nav-header .app-qr-code:hover .more{
    display: block;
}
#header .nav-header .app-qr-code .more img{
    display: block;
    width: 85px;
    height: 85px;
}
#header .nav-header .app-qr-code .more span{
    display: block;
    color: #000;
    font-size: 14px;
    padding: 10px 0;
}
#header .nav-header .app-qr-code .more:before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    margin: auto;
    width: 0;
    height: 0;
    border-width: 0 10px 10px;
    border-color: transparent transparent #fff transparent;
    border-style: solid; 
}

#header .nav-header .list-login-info{
    width: 300px;
    height: 40px;
}
#header .nav-header .list-login-info li{
    float: right;
    font-size: 12px;
    line-height: 40px;
    padding: 0 10px;
    color: #b0b0b0;
    cursor: pointer;
}
#header .nav-header .list-login-info .shopping-cart{
    position: relative;
    width: 120px;
    background-color: #424242;
    font-size: 14px;
    height: 40px;
    box-sizing: border-box;
}
#header .list-login-info .shopping-cart .more{
    position: absolute;
    right: 0;
    top: 40px;
    box-shadow: 0 0 5px #000;
    width: 320px;
    height: 0;
    transition: .3s;
    overflow: hidden;
}

#header .list-login-info .shopping-cart .more .info{
    line-height: 100px;
    text-align: center;
    color: #000;
    overflow: hidden;
}
#header .list-login-info .shopping-cart:hover .more{
    height: 100px;
}
#header .list-login-info .shopping-cart:hover{
    color: #ff6700;
}


#header .main-header{
    height: 100px;
    border-bottom: 1px #ccc solid;
}
#header .main-header .content{
    position: relative;
    height: 100px;
    overflow: hidden;
    transition: .3s;
    background-color: #fff;
    z-index: 20;
}
#header .main-header .content:hover{
    height: 330px;
}

#header .main-header .logo-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 234px;
    height: 100px;
}
#header .main-header .logo-area li{
    width: 55px;
    height: 55px;
    /* box-shadow: 0 0 5px #000 inset; */
}
#header .main-header .logo-area .title{
    background-color: #ff6700;
    font-size: 0;
    overflow: hidden;
}
#header .main-header .logo-area .title img{
    display: block;
    margin: 3px;
}
#header .main-header .logo-area .mifen-day{
    width: 163px;
    height: 66px;
}

#header .main-header .main-nav{
    width: 630px;
    height: 100px;
}
#header .main-header .main-nav .nav-list{
    display: flex;
}
#header .main-header .main-nav .nav-list span{
    line-height: 100px;
    padding: 0 10px;
    font-size: 16px;
}
#header .main-header .main-nav .nav-list li:hover{
    color: #ff6700;
    cursor: pointer;
}
#header .main-header .more-goods{
    position: absolute;
    left: 0;
    width: 100%;
    height: 0px;
    box-shadow: 0 1px 2px 0px #000;
    transition: .3s;
}

#header .main-header .content:hover+.more-goods{
    height: 1px;
}
#header .main-header .nav-list .more{
    position: absolute;
    display: none;
    left: 0;
    width: 1288px;
    height: 228px;
}
#header .main-header .nav-list>li:hover .more{
    display: flex;
    z-index: 20;
}
#header .main-header .nav-list .more .card{
    position: relative;
    flex-grow: 1;
    width: 205px;
    /* border: 1px black solid; */
}

#header .main-header .more .card .is-new{
    position: absolute;
    left: 0;
    right: 0;
    width: 60px;
    line-height: 20px;
    margin: 0 auto;
    border: 1px #ff6700 solid;
    text-align: center;
    color: #ff6700;
    font-size: 12px;
    line-height: normal;
}
#header .main-header .card .pic{
    display: block;
    margin: 35px auto;
    width: 160px;
    height: 114px;
}
#header .main-header .card .title{
    text-align: center;
    color: black;
}
#header .main-header .card .price{
    text-align: center;
    color: #ff6700;
}


#header .main-header .search{
    margin-top: 25px;
    width:300px;
    height: 50px;
    border: 1px #ccc solid;
}

#header .main-header .search input{
    width: 250px;
    height: 50px;
    border: none;
    font-size: 18px;
    text-indent: 1em;
}
#header .main-header .search button{
    display: block;
    width: 50px;
    height: 50px;
    border: none;
    border-left: 1px #ccc solid;
    outline: none;
    background-color: #fff;

}

/* header end */


