/* more good*/
#more-goods{
  width: 100%;
}
#more-goods>.content{
  position: relative;
  width: 1228px;
}
#more-goods>.content .swiper-container{
  width: 1228px;
  height: 460px;
  
}
#more-goods>.content .swiper-container .swiper-button-prev{
  transform: translateX(230px);
}
#more-goods>.content .swiper-container img{
  width: 1228px;
  height: 460px;
}
#more-goods>.content .goods-nav{
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  padding: 20px 0;
  width: 230px;
  height: 460px;
  z-index: 10;
  background-color: rgba(0,0,0,.3);
  color: #fff;
}
#more-goods>.content .goods-nav .list{
  position: relative;
}
#more-goods>.content .goods-nav .list>li{
  height: 43px;
}
#more-goods>.content .goods-nav .list>li:hover{
  background-color: #ff6700;
}
#more-goods>.content .goods-nav .list>li:hover .more{
  display: block;
}
#more-goods>.content .goods-nav .list>li .more{
  position: absolute;
  display: none;
  top: -20px;
  left: 230px;
  width: 500px;
  height: 460px;
  background-color: red;
}

#more-goods>.content .intro{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  height: 170px;
}
#more-goods>.content .intro .fast-function{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 234px;
  height: 170px;
}
#more-goods .intro .fast-function li{
  width: 77px;
  height: 84px;
  background-color: red;
}
#more-goods>.content .intro .goods-intro{
  width: 316px;
  height: 170px;
}
#more-goods .intro .goods-intro img{
  width: 316px;
  height: 170px;
}


/* more good end*/